body{

  background:#111;

  color:white;

  font-family:sans-serif;

  margin:0;

  display:flex;

  justify-content:center;

  align-items:center;

  min-height:100vh;
}

.box{

  background:#1e1e1e;

  padding:30px;

  border-radius:20px;

  width:400px;

  box-shadow:
  0 0 20px rgba(0,0,0,0.5);

  text-align:center;
}

.avatar{

  width:100px;

  border-radius:50%;

  margin-top:10px;
}

.pass{

  background:#2a2a2a;

  padding:15px;

  border-radius:15px;

  margin-top:15px;
}

.pass img{

  width:100px;

  border-radius:10px;
}

a{

  display:inline-block;

  margin-top:10px;

  padding:10px 15px;

  background:#00b06f;

  color:white;

  text-decoration:none;

  border-radius:10px;
}

a:hover{

  opacity:0.8;
}
